Practicas/Practica_Segundo_Parcial/OficinaTramites/OficinaTramites/Connected Services/SegipService/ServicioSegip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://segipip.gob.bo/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://segipip.gob.bo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://segipip.gob.bo/">
      <s:element name="VerificarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarDatosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarDatos" />
  </wsdl:message>
  <wsdl:message name="VerificarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatos" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioSegipSoap">
    <wsdl:operation name="VerificarDatos">
      <wsdl:input message="tns:VerificarDatosSoapIn" />
      <wsdl:output message="tns:VerificarDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatos">
      <wsdl:input message="tns:ObtenerDatosSoapIn" />
      <wsdl:output message="tns:ObtenerDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioSegipSoap" type="tns:ServicioSegipSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarDatos">
      <soap:operation soapAction="http://segipip.gob.bo/VerificarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatos">
      <soap:operation soapAction="http://segipip.gob.bo/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioSegipSoap12" type="tns:ServicioSegipSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarDatos">
      <soap12:operation soapAction="http://segipip.gob.bo/VerificarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatos">
      <soap12:operation soapAction="http://segipip.gob.bo/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioSegip">
    <wsdl:port name="ServicioSegipSoap" binding="tns:ServicioSegipSoap">
      <soap:address location="http://localhost:61526/ServicioSegip.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioSegipSoap12" binding="tns:ServicioSegipSoap12">
      <soap12:address location="http://localhost:61526/ServicioSegip.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>